@import '~Shared/ui-kit/font-families/Glory/Glory_font_face.css';
@import 'reset-css';

html{
  font-size: 8px;
}
*{
  font-size: 4rem;
  font-family: 'Glory', serif;
  font-weight: 300;
}
h1, h2, h3, p{
  font-size: 4rem;
  font-family: 'Glory', serif;
}