@import "~Shared/ui-kit/Colors.scss";
@import "~Shared/ui-kit/Effects.scss";

.btn{
  @include shadowBottom(out);
  background: $colBlack01;
  border: none;
  border-radius: 10px;
  height: 48px;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
}
.btn_s{
  height: 48px;
  font-size: 4rem;
}
.btn_l{
  height: 61px;
  font-size: 5rem;
  font-weight: 700;
}
.btn__disabled{
  background-color: #CDCDCD;
}