
//font sizes
.fs64{
  font-size: 8rem;
}
.fs40{
  font-size: 5rem;
}
.fs32{
  font-size: 4rem;
}
.fs24{
  font-size: 3rem;
}

//font weights
.font_bold{
  font-weight: 700;
}
.font_medium{
  font-weight: 500;
}
.font_regular{
  font-weight: 400;
}
.font_light{
  font-weight: 300;
}
.font_thin{
  font-weight: 100;
}