//There are the colors of the app

$colOrange01: #FF6231;
$colOrange02: #cc4527;

$colBlack01: #353535;

$colGray01: #CDCDCD;
$colGray02: rgba(0, 0, 0, 50%);

$colShadow25: rgba(0, 0, 0, 0.25);
$colShadowOrange50: rgba(204, 69, 39, 50%);
$colShadowOrange76: rgba(204, 69, 39, 76%)