@import "~Shared/ui-kit/Colors.scss";

//shadow effects

@mixin shadowBottom ($direction, $color: $colShadow25){ //$directiom: in | out | both
    @if $direction == in {
        box-shadow: inset 0 -4px 4px $color;
    }
    @if $direction == out {
        box-shadow: 0 4px 5px $color;
    }
    @if $direction == both {
        box-shadow: 0 4px 5px $color, inset 0px -4px 4px $color;
    }
}

@mixin shadowIn ( $color: $colShadowOrange50 ){
    box-shadow: inset 0 0 15px $color;
}

@mixin textShadowBottom($color: $colShadow25){
    text-shadow: 0 4px 4px $color;
}